:root{
  --main_color:#0a1118;
  --main_color_t1:#0a111869;
  --main_color_t2:#0a11183a;
  --second_color: #202931;
  --third_color: #27313a;
  --fourth_color:#38444e;
  --palet_1:#000000;
  --palet_1_1:#00080d;
  --palet_1_2:#00111a;
  --palet_2:#00111a;
  --palet_2_1:#001927;
  --palet_2_2:#002234;
  --palet_3:#002234;
  --palet_3_1:#012a41;
  --palet_3_2:#01324e;
  --palet_4:#01324e;
  --palet_4_1:#013b5b;
  --palet_4_2:#014368;
  --palet_5:#014368;
  --palet_5_1:#014c75;
  --palet_5_2:#015e91;
  --font_color1:#fff;
  --font_color2:#fff;
  --font_color3:#000;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: url('/res/deep_ocean_bg.jpg') ;
  margin: 0;
  padding: 0;
}
main{
  height: 100vh;
}
h1,
h2{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
}
h3,h4,h5{
  font-family: monospace;
  padding: 0;
}
h1{
  color: var(--main_color);
}
h2{
  color:var(--second_color);
}
p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, var(--main_color),var(--second_color), var(--main_color));
  width: 100%;
}
header div {
  display: inline-flex;
}
header div img{
  margin: 20px;
}
header div a{
  text-decoration: none;
  color: #fff;
}
header div a h1{
  color: #fff;
  margin: 20px;
}
header .header_themes span {
  display: inline-flex;
  align-items: center ;
  border-radius: 15px;
  border:2px solid var(--main_color);
  margin: 5px;
  padding-right: 10px;
  color: white;
}
header .header_themes span img{
  width: 32px;
}
header .header_themes span:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.226);
}
.header_themes{
  position: relative;
  display: inline-block;
}

.dropdown_menu{
  display: none;
  position:absolute;
  z-index: 2;
  background-color:var(--third_color);
  width: 150px;
}
.dropdown_menu h5{
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_menu h5:hover {
  cursor: pointer;
  color: white;
  background-color: var(--second_color);
}
.dropdown_menu h5:active {
  transform: scale(0.95);
}

/* Show the dropdown menu on hover */
.header_themes:hover .dropdown_menu{
  display: block;
}

  

/*main*/
.folders{
 
  display: flex;
  flex-wrap: wrap;
}
.folders div {
  background-color: #fff;
  flex-shrink: 3;
  flex-basis: 31.5%;
  margin: 5px;
  padding: 5px;
}
.folders .folder {
  border: 2px solid var(--main_color);
  border-radius: 5px;
}
.folders .folder span{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.folders .folder .add_button{
  width:100%;
  display:flex;
  flex-direction: column;
}
 .folder span input[type="text"]{
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin: 7px;
}
 .folder span textarea{
  width:100%;
  height: inherit;
  margin: 8px;
}
.folder_title{
  display: flex;
  justify-content: space-between;
}
 .folder .folder_title h1{
  color: var(--font_color1);
  margin: auto;
  margin: 10px;
}
.folder .folder_title .title_options,
.folder .folder_comment .comment_options,
.folder .folder_files .file_options{
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding:0;
  margin:0;
}
.folder_title .title_options .color_section{
  display: flex;
  position: relative;
}
.folder_title .title_options .color_palet{
  z-index: 1;
  transition: all 5000ms;
  display: none;
  position: absolute;
  margin-top: 30px;
}
.folder_title .title_options .color_section:hover .color_palet{
  display:block; 
}
.folder_title .title_options .color_palet img{
  display: block;
  width:32px;
}
.folder_title .title_options .color_palet img:hover{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
.folder_title .title_options .color_palet img:active{
  transform: scale(0.95);
}
.folder_title.color0{
  background-color: var(--second_color);
}
.folder_comment.color0{
  background-color: var(--third_color);
}
.folder_files .color0{
  background-color: var(--fourth_color);
  color: var(--font_color2);
}
#color1,
.folder_title.color1{
  background-color: var(--palet_1);
}
.folder_comment.color1{
  background-color: var(--palet_1_1);
}
.folder_files .color1{
  background-color: var(--palet_1_2);
  color: var(--font_color2);
}
#color2,
.folder_title.color2{
  background-color: var(--palet_2);
}
.folder_comment.color2{
  background-color: var(--palet_2_1);
}
.folder_files .color2{
  background-color: var(--palet_2_2);
  color: var(--font_color2);
}
#color3,
.folder_title.color3{
  background-color: var(--palet_3);
}
.folder_comment.color3{
  background-color: var(--palet_3_1);
}
.folder_files .color3{
  background-color: var(--palet_3_2);
  color: var(--font_color3);
}
#color4,
.folder_title.color4{
  background-color: var(--palet_4);
}
.folder_comment.color4{
  background-color: var(--palet_4_1);
}
.folder_files .color4{
  background-color: var(--palet_4_2);
  color: var(--font_color3);
}
#color5,
.folder_title.color5{
  background-color: var(--palet_5);
}
.folder_comment.color5{
  background-color: var(--palet_5_1);
}
.folder_files .color5{
  background-color: var(--palet_5_2);
  color:var(--font_color3);
}
 .folder img[src*="edit"],
 .folder img[src*="color.png"],
 .folder img[src*="delete"]{
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
  transition:all ease-in-out 0.1s;
  background-color: var(--main_color_t2);
}
.folder .folder_title img[src*="edit"],
.folder .folder_title img[src*="color.png"],
.folder .folder_title img[src*="delete"] {
  width: 20px;
}
.folder .folder_comment img[src*="edit"]{
  width: 16px;
}
.folder .folder_files img[src*="edit"],
.folder .folder_files img[src*="delete"]{
  width:14px;
}
.folder img[src*="edit"]:hover,
.folder img[src*="color.png"]:hover,
.folder img[src*="delete"]:hover {
  background-color: var(--main_color_t1);
  cursor: pointer;
}
.folder img[src*="edit"]:active,
.folder img[src*="color.png"]:active,
.folder img[src*="delete"]:active{
  transform: scale(0.95);
  background-color: var(--main_color);
}
.folder_comment{
  color: var(--font_color1);
}
.folder .folder_files{
  padding:0;
  margin-right: 0;
  margin-left: 0;
}
.folder .folder_files span{
  width: 100%;
  margin:1px;
}
.folder .folder_files input{
  width: 96%;
}
.folder #add_folder_div{
  padding: 5px;
  margin: 5px;
}
 #add_folder_div{
  display: inline-flex;
  max-height: 80px;
  align-items: center;
  border: 2px solid var(--second_color);
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 100%;

}
 #add_folder_div input{
  position: relative;
  width: 30vw;
  padding: 10px 0px;
  margin: 10px;
}
 #add_folder_div button:hover {
  background-color: var(--main_color_t1);
  cursor: pointer;
}
 #add_folder_div button:active {
  transform: scale(0.95);
  background-color: var(--main_color);
}
 #add_folder_div button{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  transition:all ease-in-out 0.1s;
  border: 2px solid var(--second_color);
  border-radius: 5px;
  background-color: var(--main_color_t2);
  color: white;
}
 #add_folder_div button img[src*="plus"] {
  background-color: unset;
}
img[src*="plus"] {
  padding: 4px;
  border-radius: 5px;
  transition:all ease-in-out 0.1s;
  background-color: var(--main_color_t2);
}
img[src*="plus"]:hover {
  background-color: var(--main_color_t1);
  cursor: pointer;
}
img[src*="plus"]:active {
  transform: scale(0.95);
  background-color: var(--main_color);
}



.slogan{
  background-color: #ebeff3;
  box-shadow: 0px 8px 16px 0px #0000007c;
  text-align: center;
  margin: 20px 0px;
}
.slogan p{
  width: 25%;
  margin: auto ;
  padding: 10px;
}


/*footer*/
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: #e6e6e6;

}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

